<html>
<head>
    <title>Index</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="title">歡迎光臨，請輸入帳號密碼</div>
    </header>
    
     <div class="input1">
        <div>登入系统</div>
        <form id="loginForm" action="/signin" method="post">
            <div class="inputbox">
                <div><span>帳號</span> <input type="text" name="username"></div>
                <div><span>密碼</span> <input type="password" name="password"></div>
                <div><span>同意條款</span> <input type="checkbox" id="termsCheckbox"></div>
                <div><button type="submit">登入</button></div>
            </div>
        </form>
    </div>
            
    <hr/>

    <div class="input2">
        <div>計算正整數的平方</div>
        <form id="squareForm">
            <div class="inputbox2">
                <div><span>正整數</span> <input type="text" name="square_number"></div>
                <div><button type="submit">計算</button></div>
            </div>
        </form>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>
